.signupcontainer{
    box-sizing: border-box;
    background: #feedf6;
    background: -webkit-gradient(linear,left top,right bottom,from(#feedf6),to(#fcf0e2));
    background: -webkit-linear-gradient(top left,#feedf6,#fcf0e2);
    background: linear-gradient(to bottom right,#feedf6,#fcf0e2);
    text-align: center;
    padding-top: 30px;
    position: relative;
    padding-bottom: 40px;
}
.register-box {
     display: inline-block;
    width: 400px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    padding: 20px 10px;
    max-width: 430px;
}
.register-title {
    font-size: 32px;
    margin-top: 15px;
    color: #535766;
}
.register-input-container {
    margin: 20px;
    border: 1px solid #bfc0c6;
    border-radius: 5px;
    padding: 0;
}
.register-input-item {
    position: relative;
    text-align: left;
    border-radius: 5px; 
}
.register-user-input-email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.register-user-input {
    display: block;
    color: #282c3f;
    font-size: 15px;
    padding-right: 40px;
    width: 80%;
    border: 0;
    padding: 15px;
}
.register-user-input-password {
    border-top: 1px solid #d5d6d9;
}
.drop{
    text-align: right;
}

